<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Dados</title>

</head>
<body>
    <h2>Gráfico de Dados</h2>

    <form method="post" action="{% url 'Chart' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Gerar Gráfico</button>
    </form>

    <canvas id="myChart" width="800" height="400"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
            datasets: [{
              label: "Valores do Índice Escolhido",
              data : [{% for item in values %}{{ item }},{% endfor %}],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
     
</body>
</html>
